$bg: #161616;
$purp: #B57EF2;
$gray: #222;
$pink: #FF7EB6;

$work_pad: 10;

window {
  font-family: "Iosevka Nerd Font Mono";
  background: red;
}

calendar {
  background: $bg;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $purp;
}

calendar.highlight {
  color: #363636;
}

calendar.header {
  border: none;
  color: $pink;
}

calendar:selected {
  color: $purp;
  background: $gray;
}

calendar.button {
  background: $bg;
  color: $purp;
}

.button {
  background: red;
  color: white;
  // border-left: 1px solid $purp;
}

button {
  color: white;
  background: transparent;
  font-size: 28;
}

button.clock {
  padding: 0;
  margin: 0;
}
button.bat {
  padding: 0;
  margin: 0;
}
button.focused {
  color: $purp;
  // background: $gray;
  // transition: background 0.3s ease-in;
}
button.focused:hover {
  color: $bg;
  background: $purp;
}
button.occupied {
  color: $pink;
}
button.occupied:hover {
  color: $bg;
  background: $pink;
}
button.unoccupied {
  color: $gray;
}
button.unoccupied:hover{
  color: $bg;
  background: $gray;
}
button.music {
  color: white;
}
button.music:hover {
  background: white;
  color: $gray;
}
.work_button {
  color: $purp;
  font-size: 24;
}
box {
  // background: green;
  color: black;
}

.dash {
  background: blue;
}

////WIDGETS////
.bar {
  background: $bg;
}

.volume {
  padding: 0;
  font-family: "Iosevka Nerd Font";
  font-weight: bold;
  font-size: 18px;
}

.battery {
  font-weight: bold;
  font-size: 16px;
}

//CLOCK 
.clock_widget {
  background: #222;
  padding: 3px;
  font-size: 20;
  font-weight: bold;
  border-radius: 10px;
}

.clock_hour {
  color: $purp;
}

.clock_minute {
  color: white;
}

//MUSIC

