$bg: #161616;
$purp: #B57EF2;
$gray: #222;
$pink: #FF7EB6;

$work_pad: 10;

window {
  background: transparent;
}

calendar {
  background: $bg;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid $purp;
}

calendar.header {
  border: none;
}

calendar:selected {
  color: $purp;
  background: $gray;
}

calendar.button {
  background: $bg;
  color: $purp;
}


.button {
  background: red;
  color: white;
  // border-left: 1px solid $purp;
}

button {
  color: white;
  background: transparent;
  padding: 0;
  margin: 0;
}

button.clock {
  padding: 0;
  margin: 0;
}
button.vol {
  padding: 0;
}
button.bat {
  padding: 0;
  margin: 0;
}
button.focused {
  font-size: 24;
  padding-left: $work_pad;
  padding-right: $work_pad;
  color: $purp;
  background: $gray;
}
button.occupied {
  color: $purp;
  font-size: 24;
  padding-left: $work_pad;
  padding-right: $work_pad;
}
button.unoccupied {
  color: $gray;
  font-size: 24;
  padding-left: $work_pad;
  padding-right: $work_pad;
}
.work_button {
  color: $purp;
  font-size: 24;
}

.bar {
  background: $bg;
}

//BATTERY
.bat {
  color: $purp;
  // font-size: 24;
  font-weight: bold;
}

//MUSIC

.music {
  font-size: 18;
  padding-left: 10;
  padding-right: 10;
}

.vol {
  color: white;
  // font-size: 24;
  font-weight: bold;
}

//CLOCK 
.clock_widget {
  background: #222;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16;
  font-weight: bold;
  border-radius: 10px;
}

.clock_hour {
  color: $purp;
}
.clock_minute {
  color: white;
}
